body { 
	background-color: #ffffff;
	background-image: url('/images/bg-pattern.png');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
}

#map { 
	height: 500px;
}

.autocomplete-suggestions {
	border: 1px solid #999; background: #FFF; overflow: auto;
}
.autocomplete-suggestion {
	padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: bold; color: #3399FF;
}

.errorRed{
	color: red;
}